/* allmän */
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  background: url("../img/logga.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(39, 40, 13);
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.main{
  margin-top: 50px;
}

.split{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* allmän slut */

/* header */
header{
  display: grid;
  grid-template-columns: 12% 12% 12% 28% 12% 12% 12%;
  align-items: center;
  position: fixed;
  top: 0;
  background: black;
  width: 100%;
  min-height: 50px;
}

header button{
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: black;
  width: 100%;
  min-height: 50px;
  border: solid 1px rgb(26, 26, 26);
  border-radius: 5px;
}

header button:hover, header button:active, header button.current{
  background: rgb(107, 101, 14);
}
/* header slut */

/* section */
section{
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

section h1, section h2{
  text-align: center;
}
/* section slut */

/* footer */
footer{
  background: black;
}

footer .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
/* footer slut */

/* Mobilanpassad */
@media(max-width: 768px){
  header{
    grid-template-columns: 1fr 1fr;
    position: absolute;
  }

  .main{
    margin-top: 200px;
  }
}
