body {
    background-color: black;
    color: white;
    font-size: 12px;
    font-family:  sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    font-weight: lighter;
    margin: 0px;
}

h1 {font-weight: lighter;}
h2 {font-weight: lighter;}

.grid-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.grid-3-split{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
}

.dynamic-height {
    position: relative;
    top: 30%;
}

/* img{
    width: 100%;
} */