/* 
 * Små hjälp funktioner
 */
.left{text-align: left;}
.right{float: right;}
.cover {width: 100%;}

/* 
 * För hela bodyn eller klasser
 */
 body {
    background-color: #1d0e06;
    background-image: url(../img/maxad_bakgrund.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fffde2;
    font-size: 16px;
    line-height: 25px;
    font-family:  sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    margin: 0px;
}
.one-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
}
.split-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.center{
    text-align: center;
    margin: auto;
}
.container{
    width: 1000px;
    margin: auto;
}
h1{
    font-family: 'Merriweather';
    font-weight: lighter;
}
h2, h3, p {
    font-family: sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    font-weight: lighter;
}
button{
    background-color: inherit;
    color: #fffde2;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 1s;
    border: 0.5px solid #fffde2;
    padding: 20px;
}
#form {
    width: 95%;
    height: 1500px;
    border: 0;
    margin: 0;
    background-color: inherit;
    color: #fffde2;
    /* width="640" height="1064" frameborder="0" marginheight="0" marginwidth="0" */
}form{
    background-color: transparent;
    color: #fffde2;
    border: none;
}

.freebirdFormviewerComponentsQuestionBaseRoot, .listitem, .freebirdFormviewerItemList{
    background-color: none;
}


/* 
 * Tab eller övriga knappar
 */
#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}.tablink, #mobile-button, button:focus {
    background-color: inherit;
    color: #fffde2;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 1s;
}.tablink:hover, button:hover, nav button:active, button:active, #mobile-button:active {
    background-color: #fffde2;
    color: black;
}#social-and-mobile-button img{
    height: 25px;
    padding: 10px;
    transition: 1s;
    border-radius: 8%;
}#social-and-mobile-button img:hover, #social-and-mobile-button img:active{
    background-color: #fffde2;
}
#mobile-button {
    margin: auto;
    padding-top: 10px;
    line-height: 50%;
}

/* 
 * Mobil
 */
@media(max-width: 768px){
    body{
        padding-left: 5px;
        padding-right: 5px;
    }
    .split-grid, #nav{
        grid-template-columns: 1fr;
    }
    .tablink, button, #mobile-button {
        transition: 0s;
    }
    #social-and-mobile-button img {
        transition: 0s;
    }
    .container{
        width: 95%;
    }
}

/* .img-background {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
} .img-background img {
    opacity: 0.2;
    width: 100%;
}.img-background .center-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} .img-background button, .img-background .center-on-image, #tab button {
    text-align: center;
    font-weight: 600;
    color: #fefde1;
    font-size: x-large;
    -webkit-text-stroke: 0.8px #a17b57;
    text-shadow: 0 0 16px #f48b3a;
}button {
    width: auto;
    background-color: transparent;
    padding: 10px;
    outline: none;
    cursor: pointer;
}button:active, button:hover  {
    background-color: #f48b3a;
}.img-background button{
    border: 1px solid #fefde1;
} */

 /*#tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
} */


/* #tab {
    background-color: black;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#tab, button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 20px;
    margin: 0px;
    text-align: left;
    overflow: hidden;
} */

/* #tab button:hover {
    background-color: black;
    color: black;  
} */

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.grid-3-split{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.dynamic-height {
    position: relative;
    top: 30%;
} */