body {
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    margin: 0px;
}

h1 {
    border-top: 5px;
    border-color: white;
}

.container {
}

.grid-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.dynamic-height {
    position: relative;
    top: 30%;
}

img {
    width: 100%;
}