a { 
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
}

a:hover {
    color: goldenrod;
    /* font-weight: bold; */
}

.menu{
    text-align: right;
    margin-top: 20px;
}